/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Poppins-Black.ttf");
    src: url("../fonts/Roboto.ttf");
}


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Helvetica', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: Helvetica;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}

.header_bg {
    width: 100%;
    float: left;
    background: #219ebc !important;
    padding-bottom: 20px !important;
}

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: cover;
    padding-bottom: 90px;
}

.bg-dark {
    background-color: transparent !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(../images/toggle-icon.png);
}

.navbar-toggler-icon {
    width: 55px;
}

.navbar-dark .navbar-toggler {
    border-color: transparent !important;
}

.navbar-toggler {
    padding: .25rem 0px;
}

.navbar {
    padding: 30px 0px 10px 0px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 22px;
    padding-bottom: 0px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #023047;
}

.logo {
    width: 20%;
    float: left;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 90px;
    color: #060303;
    font-weight: bold;
    line-height: 100px;
    padding-top: 60px;
}

.banner_text {
    width: 90%;
    float: left;
    font-size: 16px;
    color: #383838;
    margin-left: 0px;
}

.read_bt {
    width: 170px;
    float: left;
    margin-top: 10px;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background-color: #219ebc;
    border-bottom: 7px solid #219ebc;
    border-radius: 30px;
    padding: 9px 0px;
}

.read_bt a:hover {
    background-color: #8ecae6;
    border-bottom: 7px solid #219ebc;
}

#my_slider .carousel-control-prev:hover,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-next:focus {
    background: #219ebc;
    color: #fff;
}

#my_slider a.carousel-control-prev {
    position: absolute;
    left: 40%;
    top: 100%;
}

#my_slider a.carousel-control-next {
    position: absolute;
    right: 50%;
    top: 100%;
    background-color: #219ebc;
}

#my_slider .carousel-control-prev,
#my_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #000006;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

.about_section {
    width: 100%;
    float: left;
    position: relative;
    padding-bottom: 90px;
}

.image_2 {
    width: 90%;
    float: left;
}

.about_section::after {
    content: '';
    position: absolute;
    height: 466px;
    width: 655px;
    margin: 0 auto;
    justify-content: center;
    left: 0px;
    right: initial;
    display: block;
    background-image: url(../images/about-bg.png);
    top: 37px;
    z-index: -1;
    background-size: 100%;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #383838;
    margin-left: 100px;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #0c0900;
    margin-left: 100px;
}

.us_text {
    background-color: #ececeb;
    border-radius: 100%;
    color: #219ebc;
    padding: 5px 10px;
}

.read_bt_1 {
    width: 170px;
    float: left;
    margin-top: 40px;
    margin-left: 100px;
}

.read_bt_1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background-color: #219ebc;
    border-radius: 30px;
    padding: 9px 0px;
}

.read_bt_1 a:hover {
    background-color: #8ecae6;
}

.services_section {
    width: 100%;
    float: left;
    background-image: url(../images/services-bg.png);
    background-size: cover;
    height: auto;
    padding-bottom: 90px;
    margin-top: 90px;
    background-repeat: no-repeat;
}

.service_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}

.service_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #dcdada;
    margin-left: 0px;
    text-align: center;
}

.our_text {
    background-color: #ececeb;
    border-radius: 100%;
    color: #219ebc;
    padding: 17px 10px;
}

.services_section_2 {
    width: 100%;
    float: left;
}

.icon_1 {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 90px;
}

.design_text {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    padding-top: 10px;
}

.lorem_text {
    width: 80%;
    text-align: center;
    color: #d5d5d5;
    font-size: 16px;
    margin: 0 auto;
}

.icon_3 {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 220px;
}

.read_bt_2 {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.read_bt_2 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    text-align: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 9px 0px;
    margin-top: 70px;
}

.read_bt_2 a:hover {
    background-color: #8ecae6;
}

.blog_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.blog_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #181717;
    text-align: center;
    margin-top: 15px;
}

.blog_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2d2d2d;
    margin-left: 0px;
    text-align: center;
    font-weight: 400;
}

.box_main {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
    border-radius: 5px;
    padding-bottom: 20px;
}

.box_main:hover {
    box-shadow: 0px 1px 10px 1px #888888;
}

.student_bg {
    width: 100%;
    float: left;
    background-image: url(../images/img-3.png);
    height: auto;
    background-size: cover;
    position: relative;
    min-height: 287px;
    background-repeat: no-repeat;
}

.image_1 {
    width: 40%; 
    height: 40%;
}

.image_15 {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: -40px;
    background: #219ebc;
    display: block;
    border-radius: 100%;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    padding: 13px 20px;
    left: 0;
    right: 0;
}

.hannery_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #1d1f1e;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 15px;
}

.fact_text {
    width: 100%;
    float: left;
    font-size: 15px;
    color: #282828;
    margin: 0px;
    padding: 0px 11px;
    padding-left: 20px;
}

.newsletter_section {
    width: 100%;
    float: left;
    background-color: #219ebc;
    height: auto;
    padding: 40px 0px;
}

.newsletter_text {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 40px;
}

.tempor_text {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 16px;
    margin-left: 0px;
    margin-top: 0px;
}

.mail_bt_main {
    width: 100%;
    float: left;
    padding-top: 50px;
}

.mail_text {
    width: 60%;
    float: left;
    color: #000;
    font-size: 16px;
    background-color: #ffffff;
    padding: 10px 15px;
    border: 0px;
    height: auto;
    border-radius: 50px;
}

.subscribe_bt {
    width: 150px;
    float: left;
    color: #acabab;
    font-size: 16px;
    background-color: #040202;
    padding: 10px 15px;
    text-align: center;
    border-radius: 50px;
    margin-left: 30px;
}

.subscribe_bt a {
    color: #acabab;
}

.client_section {
    width: 100%;
    float: left;
    background-color: #f5f5f5;
    height: auto;
    padding-bottom: 140px;
}

.tes_text {
    background-color: #ececeb;
    border-radius: 100%;
    color: #219ebc;
    padding: 15px 10px;
}

.client_section_2 {
    width: 100%;
    float: left;
}

.client_box {
    width: 100%;
    float: left;
    background-color: #219ebc;
    padding: 30px 30px 10px 30px;
    border-radius: 20px;
}

.client_box.active {
    background-color: #ffffff;
}

.client_box:hover {
    background-color: #ffffff;
}

.client_box:hover .magna_text {
    color: #000;
}

.client_box:hover .consectetur_text {
    color: #000;
}

.client_box:hover .ipsum_text {
    color: #000;
}

.left_main {
    width: 30%;
    float: left;
}

.right_main {
    width: 70%;
    float: left;
}

.magna_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}

.magna_text.active {
    color: #000;
}

.consectetur_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    margin: 0px;
}

.consectetur_text.active {
    color: #000;
}

.quote_icon {
    width: 30px;
    float: left;
    padding-top: 10px;
    background-image: url(../images/quote-icon1.png);
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 15px;
}

.quote_icon.active {
    background-image: url(../images/quote-icon.png);
}

.client_box .quote_icon:hover {
    background-image: url(../images/quote-icon.png);
}

.ipsum_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin-left: 0px;
}

.ipsum_text.active {
    color: #000;
}

.carousel-indicators li {
    width: 50px;
    height: 15px;
    border-radius: 40px;
    background-color: #0c0900;
}

.carousel-indicators .active {
    background-color: #219ebc;
}

.carousel-indicators {
    bottom: -80px;
}

.contact_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.touch_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1d1c1c;
    font-weight: bold;
    text-align: center;
}

.contact_section_2 {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.email_text {
    width: 100%;
    float: left;
    padding: 20px 20px 20px 20px;
}

.email-bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #2a2a2c;
    margin-bottom: 20px;
    padding: 8px 15px;
    border: 1px solid #909090;
}

.massage-bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #2a2a2c;
    margin-bottom: 20px;
    padding: 40px 15px 8px 15px;
    border: 1px solid #909090;
    height: 120px;
}

.send_btn {
    width: 170px;
    float: left;
}

.send_btn a {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #219ebc;
    padding: 10px;
    border-radius: 30px;
}

.send_btn a:hover {
    color: #ffffff;
    background-color: #000;
}

.footer_section {
    width: 100%;
    float: left;
    background-color: #070517;
    height: auto;
    padding-bottom: 40px;
}

.address_main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/footer-bg.png);
    height: auto;
    display: flex;
    padding: 15px 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.address_text {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
}

.address_text a {
    color: #ffffff;
}

.padding_left_15 {
    padding-left: 15px;
}

.footer_section_2 {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.link_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #fcfcfc;
    font-weight: bold;
    text-transform: uppercase;
}

.footer_menu {
    width: 100%;
    float: left;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
}

.footer_menu li {
    font-size: 16px;
    color: #878585;
}

.footer_menu li a {
    color: #878585;
}

.footer_menu li a:hover {
    color: #fcfcfc;
}

.footer_text {
    width: 55%;
    float: left;
    font-size: 16px;
    color: #878585;
    margin-left: 0px;
    margin-top: 0px;
}

.footer_text_1 {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #878585;
    margin-left: 0px;
    margin-top: 0px;
}

.social_icon {
    width: 100%;
    float: left;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
}

.social_icon li {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #0b0b0c;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
}

.copyright_text a {
    color: #0b0b0c;
}

.copyright_text a:hover {
    color: #219ebc;
}

.margin_top_90 {
    margin-top: 90px;
}

* {
    box-sizing: border-box;
  }
  html,body {
    width: 100%;
    height: 100%;
    margin: 0;
  } 

  :root {
    --color-accent-light: #00DBDE;
    --color-accent-dark: #FC00FF;
    --color-secondary: #ccc;

    --text-color-default: #2c2c2c;
    --text-color-light: #fff;

    --font-size-default: 15px;
    --font-size-lg: 25px;

    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-default: var(--font-weight-regular);

    --border-color-default: var(--color-secondary);
    --border-color-accent: var(--color-accent-dark);

    --bg-color-default: #fff;
    --bg-color-dark: #2c2c2c;
    --bg-color-accent--lignt: var(--color-accent-light);
    --bg-color-accent--dark: var(--color-accent-dark);

    --transition-duration: .2s;
    --transition-timing-function: linear;
    --transition-delay: 0s;

    --negative-multiplier: -1;

    --gradient-default: linear-gradient(122deg, var(--color-accent-light) 0%, var(--color-accent-dark) 100%);

}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-size-default);
    color: var(--text-color-default);
}

/* EXAMPLE STYLES: YOU DON'T NEED THEM!!! */
.header {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.header__btns {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

body a {
    color: inherit;
    text-decoration: none;
}

.header__btn {
    transition:
            all
            var(--transition-duration)
            var(--transition-timing-function)
            var(--transition-delay);
    padding: 10px 20px;
    margin-right: 10px;
    background-color: var(--bg-color-default);
    border: 1px solid var(--border-color-default);
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.header__btn:hover,
.header__btn.js-active {
    color: var(--text-color-light);
    background-color: var(--bg-color-dark);
}

.header__title {
    margin-bottom: 10px;
    font-weight: var(--font-weight-semibold);
}

.content {
    margin: 50px auto;
}

.content__title {
    margin-bottom: 80px;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-default);
    text-align: center;
}

/* TIMELINE STYLES: YOU NEED THEM!!! */
.timeline {
    --wrapper-width: 900px;

    width: 95%;
    max-width: var(--wrapper-width);
    margin: auto;
}

.timeline__stepper {
    --step-border-width: 3px;
    --offset-to-slider-content: 30px;

    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: var(--offset-to-slider-content);
}

@media(min-width: 530px) {
    .timeline__stepper {
        display: flex;
        justify-content: space-around;
        gap: 0;
    }
}

@media(min-width: 700px) {
    .timeline__stepper {
        --offset-to-slider-content: 50px;
    }
}

.timeline__step {
    position: relative;
    width: 100%;
    cursor: pointer;
}

@media(min-width: 530px) {
    .timeline__step {
        width: 100%;;
    }
}

.timeline__icon {
    --timeline-icon-dimensions: 45px;

    position: relative;
    display: block;
    width: var(--timeline-icon-dimensions);
    max-height: var(--timeline-icon-dimensions);
    height: auto;
    margin: 0 auto;
    transition: opacity var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
}

@media(min-width: 700px) {
    .timeline__icon {
        --timeline-icon-dimensions: 60px;

        margin-bottom: 30px;
    }
}

.timeline__icon--active {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    fill: url(#icon-gradient);
    opacity: 0;
}

.timeline__step-title {
    --timeline-dot-dimensions: 11px;
    --extra-offset-fox-pixelperfect: -1px;

    position: relative;
    display: none;
    padding-top: 30px;
    margin-bottom: 0;
    text-align: center;
    line-height: 1.7;
    border-top: var(--step-border-width) solid var(--border-color-default);
}

@media(min-width: 700px) {
    .timeline__step-title {
        display: block;
    }
}

.timeline__step-title:before,
.timeline__step-title:after {
    position: absolute;
    top: var(--dot-top-position);
    left: 50%;
    display: block;
    width: var(--timeline-dot-dimensions);
    height: var(--timeline-dot-dimensions);
    content: '';
    border-radius: 50%;
}

.timeline__step-title:before {
    --dot-top-position: calc(
            var(--timeline-dot-dimensions)/2 * var(--negative-multiplier) + var(--extra-offset-fox-pixelperfect)
    );

    transform: translate(-50%);
    border: 2px solid var(--border-color-default);
    border-radius: 50%;
    background-color: #fff;
    z-index: 5;
}

.timeline__step-title:after {
    --timeline-dot-dimensions: 25px;
    --dot-top-position: calc(
            var(--timeline-dot-dimensions)/2 * var(--negative-multiplier) + var(--extra-offset-fox-pixelperfect)
    );

    transform: translate(-50%) scale(0);
    border-radius: 50%;
    background-color: #fff;
}

/* this elements generates in JS */
.timeline__step-active-marker {
    --slide-pos-y: none; /* calcs on the fly in js */
    --slide-pos-x: none; /* calcs on the fly in js */
    --slide-width: auto; /* calcs on the fly in js */

    --transition-timing-function: cubic-bezier(0, 0, 0, 1.2);

    position: absolute;
    top: var(--slide-pos-y);
    left: 0;
    display: none;
    width: var(--slide-width);
    height: var(--step-border-width);
    transform: translateX(var(--slide-pos-x));
    transition: transform var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
    background-image: var(--gradient-default);
}

@media(min-width: 700px) {
    .timeline__step-active-marker {
        display: block;
    }
}

.timeline__step.is-active {
    cursor: default;
}

.timeline__step.is-active .timeline__step-title {
    font-weight: var(--font-weight-semibold);
}

.timeline__step.is-active .timeline__step-title:before {
    transition: background-color var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
    background-color: var(--color-accent-dark);
    border-color: var(--border-color-accent);
}

.timeline__step.is-active .timeline__step-title:after {
    transform: translate(-50%) scale(1);
    transition: transform var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
    background-image: var(--gradient-default);
    opacity: .35;
}

.timeline__step.is-active .timeline__icon--default,
.timeline__step:not(.is-active):hover .timeline__icon--default {
    opacity: 0;
}

.timeline__step.is-active .timeline__icon--active,
.timeline__step:not(.is-active):hover .timeline__icon--active {
    opacity: 1;
}

.timeline__slides {
    --slides-container-height: 0px; /* calcs on the fly in js */

    --content-offset-x: 20px;
    --content-offset-y: 30px;

    --decoration-blur-spread: 20px;
    --decoration-opacity: .7;
    --decoration-pos-x: 0;
    --decoration-pos-y: 20px;
    --decoration-scale: 1;

    position: relative;
    width: 600px;
    max-width: 100%;
    margin: auto;
    height: var(--slides-container-height);
    border-radius: 5px;
    background-color: var(--bg-color-default);
}

@media(min-width: 700px) {
    .timeline__slides {
        --content-offset-x: 30px;
        --content-offset-y: 40px;
    }
}

.timeline__slides:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: var(--decoration-opacity);
    background-image: var(--gradient-default);
    filter: blur(var(--decoration-blur-spread));
    transform: translate3d(var(--decoration-pos-x), var( --decoration-pos-y), 0) scale(var(--decoration-scale));
    z-index: -1;
}

.timeline__slide {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--content-offset-y) var(--content-offset-x);
    opacity: 0;
    visibility: hidden;
}

.timeline__slide.is-active {
    transition: opacity var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
    opacity: 1;
    visibility: visible;
}

.timeline__slide-title {
    margin-top: 0;
}

.timeline__slide-content {
    line-height: 1.7;
}

.timeline__slide-content p:first-child {
    margin-top: 0;
}

.timeline__slide-content p:last-child {
    margin-bottom: 0;
}